<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>file-upload</param-name>
        <param-value>/Users/Admin/NetBeansProjects/GoToSell/web/upload/</param-value>
    </context-param>
    <servlet>
        <servlet-name>AddAccount</servlet-name>
        <servlet-class>servlet.AddAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upLoad</servlet-name>
        <servlet-class>servlet.upLoad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>servlet.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProduct</servlet-name>
        <servlet-class>servlet.SearchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPic</servlet-name>
        <servlet-class>servlet.addPic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductSingle</servlet-name>
        <servlet-class>servlet.SearchProductSingle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>servlet.profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upDate</servlet-name>
        <servlet-class>servlet.upDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUser</servlet-name>
        <servlet-class>servlet.SearchUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProfile</servlet-name>
        <servlet-class>servlet.deleteProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfile</servlet-name>
        <servlet-class>servlet.editProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProduct</servlet-name>
        <servlet-class>servlet.editProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertPic</servlet-name>
        <servlet-class>servlet.insertPic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>servlet.AddComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showComment</servlet-name>
        <servlet-class>servlet.showComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProfilePic</servlet-name>
        <servlet-class>servlet.addProfilePic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteComment</servlet-name>
        <servlet-class>servlet.deleteComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePic</servlet-name>
        <servlet-class>servlet.deletePic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showDeletePic</servlet-name>
        <servlet-class>servlet.showDeletePic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToAdmin</servlet-name>
        <servlet-class>servlet.ToAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountAdmin</servlet-name>
        <servlet-class>servlet.AddAccountAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductAdmin</servlet-name>
        <servlet-class>servlet.AddProductAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upLoadAdmin</servlet-name>
        <servlet-class>servlet.upLoadAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllProductAdmin</servlet-name>
        <servlet-class>servlet.AllProductAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upDateAdmin</servlet-name>
        <servlet-class>servlet.upDateAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProductAdmin</servlet-name>
        <servlet-class>servlet.deleteProductAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProductAdmin</servlet-name>
        <servlet-class>servlet.editProductAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCommentAdmin</servlet-name>
        <servlet-class>servlet.AddCommentAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCommentAdmin</servlet-name>
        <servlet-class>servlet.deleteCommentAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCommentUser</servlet-name>
        <servlet-class>servlet.deleteCommentUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProfile</servlet-name>
        <servlet-class>servlet.AdminProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllAccountAdmin</servlet-name>
        <servlet-class>servlet.AllAccountAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>servlet.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProfileAdmin</servlet-name>
        <servlet-class>servlet.deleteProfileAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccountAdmin</servlet-name>
        <servlet-class>servlet.deleteAccountAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfileAdmin</servlet-name>
        <servlet-class>servlet.editProfileAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAccountAdmin</servlet-name>
        <servlet-class>servlet.ShowAccountAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertPicAdmin</servlet-name>
        <servlet-class>servlet.insertPicAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePicAdmin</servlet-name>
        <servlet-class>servlet.deletePicAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showDeletePicAdmin</servlet-name>
        <servlet-class>servlet.showDeletePicAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editComment</servlet-name>
        <servlet-class>servlet.editComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showEditComment</servlet-name>
        <servlet-class>servlet.showEditComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showAccount</servlet-name>
        <servlet-class>servlet.showAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editAccountAdmin</servlet-name>
        <servlet-class>servlet.editAccountAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendPM</servlet-name>
        <servlet-class>servlet.sendPM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showPM</servlet-name>
        <servlet-class>servlet.showPM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showUserPM</servlet-name>
        <servlet-class>servlet.showUserPM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePM</servlet-name>
        <servlet-class>servlet.deletePM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showUserSent</servlet-name>
        <servlet-class>servlet.showUserSent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>commentQ</servlet-name>
        <servlet-class>servlet.commentQ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdvenceSearch</servlet-name>
        <servlet-class>servlet.AdvenceSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testBanna</servlet-name>
        <servlet-class>servlet.testBanna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showProduct</servlet-name>
        <servlet-class>servlet.showProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Boss</servlet-name>
        <servlet-class>servlet.Boss</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index10</servlet-name>
        <servlet-class>servlet.index10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index15</servlet-name>
        <servlet-class>servlet.index15</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indextest</servlet-name>
        <servlet-class>servlet.indextest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAddress</servlet-name>
        <servlet-class>servlet.addAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAddress</servlet-name>
        <servlet-class>servlet.deleteAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editAddress</servlet-name>
        <servlet-class>servlet.editAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showEditAddress</servlet-name>
        <servlet-class>servlet.showEditAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showPmAdminR</servlet-name>
        <servlet-class>servlet.showPmAdminR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showPMAdmin</servlet-name>
        <servlet-class>servlet.showPMAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendPMAdmin</servlet-name>
        <servlet-class>servlet.sendPMAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showPmAdminS</servlet-name>
        <servlet-class>servlet.showPmAdminS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showProductAdmin</servlet-name>
        <servlet-class>servlet.showProductAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showPMQ</servlet-name>
        <servlet-class>servlet.showPMQ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAccount</servlet-name>
        <url-pattern>/AddAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upLoad</servlet-name>
        <url-pattern>/upLoad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProduct</servlet-name>
        <url-pattern>/SearchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPic</servlet-name>
        <url-pattern>/addPic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductSingle</servlet-name>
        <url-pattern>/SearchProductSingle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upDate</servlet-name>
        <url-pattern>/upDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUser</servlet-name>
        <url-pattern>/SearchUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProfile</servlet-name>
        <url-pattern>/deleteProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfile</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProduct</servlet-name>
        <url-pattern>/editProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertPic</servlet-name>
        <url-pattern>/insertPic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showComment</servlet-name>
        <url-pattern>/showComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProfilePic</servlet-name>
        <url-pattern>/addProfilePic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteComment</servlet-name>
        <url-pattern>/deleteComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePic</servlet-name>
        <url-pattern>/deletePic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showDeletePic</servlet-name>
        <url-pattern>/showDeletePic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToAdmin</servlet-name>
        <url-pattern>/ToAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountAdmin</servlet-name>
        <url-pattern>/AddAccountAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductAdmin</servlet-name>
        <url-pattern>/AddProductAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upLoadAdmin</servlet-name>
        <url-pattern>/upLoadAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllProductAdmin</servlet-name>
        <url-pattern>/AllProductAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upDateAdmin</servlet-name>
        <url-pattern>/upDateAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProductAdmin</servlet-name>
        <url-pattern>/deleteProductAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProductAdmin</servlet-name>
        <url-pattern>/editProductAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCommentAdmin</servlet-name>
        <url-pattern>/AddCommentAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCommentAdmin</servlet-name>
        <url-pattern>/deleteCommentAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCommentUser</servlet-name>
        <url-pattern>/deleteCommentUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProfile</servlet-name>
        <url-pattern>/AdminProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllAccountAdmin</servlet-name>
        <url-pattern>/AllAccountAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProfileAdmin</servlet-name>
        <url-pattern>/deleteProfileAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccountAdmin</servlet-name>
        <url-pattern>/deleteAccountAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfileAdmin</servlet-name>
        <url-pattern>/editProfileAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertPicAdmin</servlet-name>
        <url-pattern>/insertPicAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePicAdmin</servlet-name>
        <url-pattern>/deletePicAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showDeletePicAdmin</servlet-name>
        <url-pattern>/showDeletePicAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editComment</servlet-name>
        <url-pattern>/editComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showEditComment</servlet-name>
        <url-pattern>/showEditComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showAccount</servlet-name>
        <url-pattern>/showAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAccountAdmin</servlet-name>
        <url-pattern>/ShowAccountAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editAccountAdmin</servlet-name>
        <url-pattern>/editAccountAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendPM</servlet-name>
        <url-pattern>/sendPM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showPM</servlet-name>
        <url-pattern>/showPM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showUserPM</servlet-name>
        <url-pattern>/showUserPM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePM</servlet-name>
        <url-pattern>/deletePM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showUserSent</servlet-name>
        <url-pattern>/showUserSent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>commentQ</servlet-name>
        <url-pattern>/commentQ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdvenceSearch</servlet-name>
        <url-pattern>/AdvenceSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testBanna</servlet-name>
        <url-pattern>/testBanna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showProduct</servlet-name>
        <url-pattern>/showProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Boss</servlet-name>
        <url-pattern>/Boss</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index10</servlet-name>
        <url-pattern>/index10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index15</servlet-name>
        <url-pattern>/index15</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indextest</servlet-name>
        <url-pattern>/indextest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAddress</servlet-name>
        <url-pattern>/addAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAddress</servlet-name>
        <url-pattern>/deleteAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editAddress</servlet-name>
        <url-pattern>/editAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showEditAddress</servlet-name>
        <url-pattern>/showEditAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showPmAdminR</servlet-name>
        <url-pattern>/showPmAdminR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showPMAdmin</servlet-name>
        <url-pattern>/showPMAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendPMAdmin</servlet-name>
        <url-pattern>/sendPMAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showPmAdminS</servlet-name>
        <url-pattern>/showPmAdminS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showProductAdmin</servlet-name>
        <url-pattern>/showProductAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showPMQ</servlet-name>
        <url-pattern>/showPMQ</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
